@model odeToFood.Models.Review

 <div class="review">
        <h4>@Model.Rating</h4>
        <span>@Model.Rating</span>
        <p>@Model.ReviewerName, @Model.RestaurantId</p>
        <span class="right"> @Html.ActionLink("Edit", "Edit",new { id = @Model.Id })</span>
    </div>

